header {
  height: 80px;
  line-height: 80px;
  width: 480px;
}

aside, div {
  height: 125px;
  line-height: 125px;
  width: 480px;
}

#section2 div {
  display: inline-block;
  height: 250px;
  line-height: 250px;
  width: 240px;
}

#section3 div {
  display: inline-block;
  height: 250px;
  line-height: 250px;
  width: 240px;
}

footer {
  height: 80px;
  line-height: 80px;
  width: 480px;
}


@media (min-width:768px) {
  
  header {
    width: 960px;
    height: 100px;
    line-height: 100px;
  }

  aside {
    float: left;
    display: inline-block;
    height: 600px;
    line-height: 600px;
    width: 200px;
  }

  #section1 div {
    display: inline-block;
    float: left;
    height: 200px;
    line-height: 200px;
    width: 380px;    
  }

  #section2 div, #section3 div {
    float: left;
    width: 190px;
    display: inline-block;
  }

  footer {
    float: left;
    width: 760px;
    height: 150px;
    line-height: 150px;
  }
}